---
layout: default
title: About
permalink: /about/
---
<section class="about">
  <a href="{{site.baseurl}}/" class="button_back"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back</a>
  <div class="about_box">
    <div class="author">
        <div class="author_info">
          <h2 class="author_title">{% if site.author-name %}{{site.author-name}}{% else %}Project Loops{% endif %}</h2>
          <p class="author_subtitle">{% if site.about-author %}{{site.about-author}}{% else %}Our planet Earth is dying. We're working on saving her. Wanna join? Then send us a message on contact.{% endif %}</p>
          <p class="author_subtitle">There are several ways of saving the planet. A lot of ways which we think can save the planet are wrong. We here present and work on different approach to this problem named PROJECT-LOOPS, where we try to loop the output of industrial production to input of the industries. This can't happen for free. So, we introduce 'Green Price', the actual price of the products.</p>
        </div>
      </div>

      <div class="about_social">
        {% include social_footer.html %}
      </div>
    </div> <!-- End Section Author -->
</section>
